<!doctype html>
<html ng-app="surveyBot">
<head>
  <title>Survey Bot</title>
  <script src="lib/angular.js"></script>
  <script src="app.js"></script>
  <script src="controllers/QuestionsController.js"></script>
  <script src="controllers/ResultsController.js"></script>
  <script src="services/SurveyFactory.js"></script>
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
  <!-- answer forms -->
  <div class="container">
    <div ng-controller="QuestionsCtrl">
      <h1>Survey Bot</h1>
        <div class="row">
          <div class="col-md-6">
              <form ng-hide="showEm" ng-submit="SurveyFactory.addAnswers()" class="inline-form" role="form">
                <div class="form-group">
                  <label for="question-one">Question One.</label>
                  <input type="text" ng-model="SurveyFactory.questionResultOne" class="form-control" id="question-one" placeholder="What is your biggest fear?">
                </div>
                <div class="form-group">
                  <label for="question-two">Question Two.</label>
                  <input type="text" ng-model="SurveyFactory.questionResultTwo" class="form-control" id="question-two" placeholder="What is your least favorite animal?">
                </div>
                  <button type="submit" class="btn btn-primary" ng-click="showEm=true">Submit</button>
              </form>
    <!-- end questionsCtrl -->
          </div>
        </div>
        <div class="row">
          <div ng-show="showEm" class="col-md-12">
            <h2>Thank you, your answers have been submitted</h2>
            <button ng-click="showEm=false" class="btn-lg btn-danger">Back</button>
          </div>
        </div>
      </div>
      <button ng-click="showresults= showresults ? false : true" class=" btn btn-danger">Results</button>
      <div ng-show="showresults" ng-controller="ResultsCtrl" class="row">
        <div class="col-md-12">
          <h3>Question One Answers:</h3>
          <ul>
            <li ng-repeat="item in resultsOne">
              {{item.questionOne}}
            </li>
          </ul>
          <h3>Question Two Answers:</h3>
          <ul>
            <li ng-repeat="item in resultsTwo">
              {{item.questionTwo}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  <!-- end container -->
  </div>
</body>
</html>
